<template>
  <div class="about">
    <v-container v-if="hasLogin">
      <v-layout row>
        <!-- <v-flex xs2></v-flex> -->

        <v-flex xs12>
          <v-tabs
            v-model="tab"
            background-color="transparent"
            grow
          >
            <v-tab
              v-for="item in tabs"
              :key="item"
            >
              {{ item }}
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item
              key="Upload"
            >
              <v-container>
                <v-layout>
                  <v-flex xs12>
                    <v-card flat>
                      <v-container>
                        <p class="headline">Input a new file to be indexed!</p>
                        <v-file-input v-model="inputFile" chips multiple label="File input w/ chips"></v-file-input>
                        <v-btn color="primary" @click="submit()">
                          Submit
                        </v-btn>
                      </v-container>
                      <v-container>
                        <p class="headline">Input path for file folder!</p>
                        <v-text-field></v-text-field>
                        <v-btn color="primary">
                          Submit
                        </v-btn>
                      </v-container>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-tab-item>

            <v-tab-item
              key="Index"
            >
              <v-card flat>
                <v-container style="padding-top:30px">
                  <v-card
                    :loading="indexLoading"
                  >
                    <v-container style="padding-top: 0; padding-bottom: 0">
                      <v-row>
                        <v-card-title>
                          Indexes
                        </v-card-title>
                        
                        <v-spacer></v-spacer>

                        <v-card-actions>
                          <v-autocomplete
                            label="Filter by alphabet"
                            :items="alphabets"
                            style="margin-right: 15px; width: 150px; text-align: center"
                            v-model="filterAlphabet"
                            class="alphabet-filter"
                          ></v-autocomplete>
                          <v-btn color="primary" style="margin-right: 5px" @click="getIndex(true)">
                            Refresh Index
                          </v-btn>
                          <v-btn color="primary" style="margin-right: 5px" @click="reconstructIndex()">
                            Reconstruct Index
                          </v-btn>
                        </v-card-actions>
                      </v-row>
                      <v-divider></v-divider>
                      <v-row>
                        <v-col cols="3" class="body-1">
                          Term
                        </v-col>
                        <v-col cols="3" class="body-1">
                          Document
                        </v-col>
                        <v-col cols="3" class="body-1">
                          Position
                        </v-col>
                        <v-col cols="3" class="body-1">
                          Pointer
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                  <v-card
                    :disabled="indexLoading"
                  >
                    <v-container>
                      <div v-for="(term, key) in index" :key="key">
                        <div v-if="key == filterAlphabet">
                          <v-row
                            v-for="(document, termValue) in term"
                            :key="termValue"
                            style="background-color: #443266; margin-bottom: 6px"
                          >
                            <v-col cols="3" style="color: white" class="subtitle-1">
                              {{termValue}}
                            </v-col>
                            <v-col cols="9">
                              <v-row
                                v-for="(pointer, documentId) in document"
                                :key="documentId"
                                style="background-color: #8C489F; color: #F1F0FF; margin-right: 0px"
                                class="subtitle-2"
                              >
                                <v-col>
                                  Document id: {{documentId}}
                                </v-col>
                                <v-col>
                                  {{pointer.position}}
                                </v-col>
                                <v-col>
                                  {{pointer.pointer}}
                                </v-col>
                              </v-row>
                            </v-col>
                          </v-row>
                        </div>
                      </div>
                    </v-container>
                  </v-card>
                </v-container>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-flex>
        <!-- <v-flex xs2></v-flex> -->
      </v-layout>
    </v-container>
    <v-container v-else>
      <v-card>
        <v-card-title>Login</v-card-title>
        <v-card-text>
          <v-text-field
            label="Username"
            v-model="username"
          ></v-text-field>
          
          <v-text-field
            label="Password"
            type="password"
            v-model="password"
          ></v-text-field>
        </v-card-text>

        <p style="padding-left: 20px; color: red" v-if="error">
          Authentication error: username and password does not match!
        </p>

        <v-card-actions>
          <v-btn color="primary" block @click="login()" :loading="loading">Login</v-btn>
        </v-card-actions>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import ApiService from '../common/api.service';

export default {
  data: () => ({
    // ecosystem: [
    //   {
    //     text: 'vuetify-loader',
    //     href: 'https://github.com/vuetifyjs/vuetify-loader',
    //   },
    //   {
    //     text: 'github',
    //     href: 'https://github.com/vuetifyjs/vuetify',
    //   },
    //   {
    //     text: 'awesome-vuetify',
    //     href: 'https://github.com/vuetifyjs/awesome-vuetify',
    //   },
    // ],
    // importantLinks: [
    //   {
    //     text: 'Documentation',
    //     href: 'https://vuetifyjs.com',
    //   },
    //   {
    //     text: 'Chat',
    //     href: 'https://community.vuetifyjs.com',
    //   },
    //   {
    //     text: 'Made with Vuetify',
    //     href: 'https://madewithvuejs.com/vuetify',
    //   },
    //   {
    //     text: 'Twitter',
    //     href: 'https://twitter.com/vuetifyjs',
    //   },
    //   {
    //     text: 'Articles',
    //     href: 'https://medium.com/vuetify',
    //   },
    // ],
    // whatsNext: [
    //   {
    //     text: 'Explore components',
    //     href: 'https://vuetifyjs.com/components/api-explorer',
    //   },
    //   {
    //     text: 'Select a layout',
    //     href: 'https://vuetifyjs.com/layout/pre-defined',
    //   },
    //   {
    //     text: 'Frequently Asked Questions',
    //     href: 'https://vuetifyjs.com/getting-started/frequently-asked-questions',
    //   },
    // ],
    // searchLoading: false,
    // searchInput: '',
    // searchResult: '',
    hasLogin: false,
    username: '',
    password: '',
    inputFile: [],
    tabs: [
      'Upload',
      'Index'
    ],
    tab: null,
    alphabets: [],
    index: {
      a: {
        abhor: {
          149: {
            position: [2, 5],
            pointer: 2
          },
          150: {
            position: [2, 5],
            pointer: 2
          }
        },
        abid: {
          149: {
            position: [2, 5],
            pointer: 2
          },
          150: {
            position: [2, 5],
            pointer: 2
          }
        }
      },
      b: {
        bbhor: {
          149: {
            position: [2, 5],
            pointer: 2
          },
          150: {
            position: [2, 5],
            pointer: 2
          }
        },
        bbid: {
          149: {
            position: [2, 5],
            pointer: 2
          },
          150: {
            position: [2, 5],
            pointer: 2
          }
        }
      }
    },
    loading: false,
    filterAlphabet: 'a',
    indexLoading: false,
    error: false
  }),
  mounted() {
    this.getIndex(false);
    this.alphabets = Object.keys(this.index);
  },
  methods: {
    submit() {
      // console.log(this.inputFile);
    },
    login() {
      this.loading = true;
      this.error = false;
      ApiService.post("login", {
        username: this.username,
        password: this.password
      }).subscribe(result => {
        if(result.data == true){
          this.hasLogin = true;
        }
        this.error = true;
        this.loading = false;
      });
    },
    reconstructIndex() {
      this.indexLoading = true;
      ApiService.get("create_index")
      .subscribe(result => {
        if(result.data == true){
          this.getIndex(true);
        }
      });
    },
    getIndex(loading) {
      this.indexLoading = loading;
      ApiService.get("index")
      .subscribe(result => {
        this.index = result.data;
        this.alphabets = Object.keys(this.index);
        this.indexLoading = false;
      });
    }
  }
};
</script>

<style>
.alphabet-filter input{
  text-align: center;
}
</style>