<template>
  <v-container>
    <div style="display: none">
      {{checkReSearch}}
    </div>
    <v-layout
      text-center
      wrap
      v-if="!searchResult"
    >
      <v-flex xs12>
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-flex>

      <v-flex mb-4>
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome to Twisted Search!
        </h1>
        <!-- <p class="subheading font-weight-regular">
          For help and collaboration with other Vuetify developers,
          <br>please join our online
          <a href="https://community.vuetifyjs.com" target="_blank">Discord Community</a>
        </p> -->
        <v-text-field
          solo
          placeholder="Having a twisted thought?"
          v-model="searchInput"
        ></v-text-field>
        <p style="color: red" v-if="error">
          Index is empty. Go to <a @click="$router.push('/admin')">admin page</a> and construct index.
        </p>
        <!-- <v-row>
          <v-col></v-col>
          <v-col>
            <v-row justify="center">
              <v-checkbox
                v-model="isAndQuery"
                label="Use AND Query"
                style="margin-top: 0; margin-left: 15px"
              ></v-checkbox>
              <v-tooltip right>
                <template v-slot:activator="{ on }">
                  <v-chip style="margin-left: 10px" v-on="on">?</v-chip>         
                </template>
                <span>
                  Use AND operator instead of OR
                </span>
              </v-tooltip>
            </v-row>
          </v-col>
          <v-col></v-col>
        </v-row> -->
        
        <v-btn
          color="primary"
          :loading="searchLoading"
          @click="search"
          large
          :disable="disableSearch"
        >
          Search!
          <v-icon style="margin-left: 4px">search</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-container v-if="searchResult">
      <!-- Query result: {{searchResult}} -->
      <div class="headline">
        Query: {{searchInput}}
      </div>
      <div v-if="suggestion">
        Did you mean: <p style="display: inline" v-for="sugg in suggestion" :key="sugg">{{sugg}}, </p>?
      </div>
      Query time: {{queryTime}} milisecond
      <v-row>
        <v-col cols="4">
          Cosine Similarity ({{csTime}})ms
          Total result: {{searchResultCS.length}}
          <div v-if="isPrecisionTest">
            Precision: {{precisionCS}}, Recall: {{recallCS}}, F1: {{f1CS}}
          </div>
          <v-row v-for="item in searchResultCS" :key="item.time">
            <v-card flat style="margin-left: 10px">
              <v-card-text class="text--primary">
                
                <v-dialog v-model="item.dialog" width="600px">
                  <template v-slot:activator="{ on }">
                    <div v-on="on" class="body-1" style="color: #1c1259">
                      Document: {{item.filename}}.{{item.extension}}
                    </div>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">Document: {{item.filename}}.{{item.extension}}</span>
                    </v-card-title>
                    <v-card-text>
                      <div v-html="item.content"></div>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-text>
                      <p>Total Term: {{item.totalTerm}},</p>
                      <p>Total Term After Lemmatization: {{item.totalTermAfterLemmatization}},</p>
                      <p>Total Term After Removing StopWords: {{item.totalTermAfterRemovingStopWords}},</p>
                      <div v-if="item.isNER">
                        <p>Total Word: {{item.totalWord}},</p>
                        <p>Total Number: {{item.totalNumber}},</p>
                        <p>Total Ip: {{item.totalIp}},</p>
                        <p>Total Date: {{item.totalDat}},</p>
                        <p>Total Time: {{item.totalTime}},</p>
                        <p>Total Person: {{item.totalPerson}},</p>
                        <p>Total Location: {{item.totalLocation}},</p>
                        <p>Total Object: {{item.totalObject}}</p>
                      </div>
                      <p v-else style="color: #ee4266">NER is inactive</p>
                    </v-card-text>
                    <!-- <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="green darken-1" text @click="dialog = false">Disagree</v-btn>
                      <v-btn color="green darken-1" text @click="dialog = false">Agree</v-btn>
                    </v-card-actions> -->
                  </v-card>
                </v-dialog>
                <p class="body-2" style="color: gray" v-html="item.preview"></p>
                <p>Score: {{item.score}}</p>
              </v-card-text>
            </v-card>
          </v-row>
        </v-col>
        <v-col cols="4">
          BM25 ({{bmTime}})ms
          Total result: {{searchResultBM.length}}
          <div v-if="isPrecisionTest">
            Precision: {{precisionBM}}, Recall: {{recallBM}}, F1: {{f1BM}}
          </div>
          <v-row v-for="item in searchResultBM" :key="item.time">
            <v-card flat style="margin-left: 10px">
              <v-card-text class="text--primary">
                
                <v-dialog v-model="item.dialog" width="600px">
                  <template v-slot:activator="{ on }">
                    <div v-on="on" class="body-1" style="color: #1c1259">
                      Document: {{item.filename}}.{{item.extension}}
                    </div>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">Document: {{item.filename}}.{{item.extension}}</span>
                    </v-card-title>
                    <v-card-text>
                      <div v-html="item.content"></div>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-text>
                      <p>Total Term: {{item.totalTerm}},</p>
                      <p>Total Term After Lemmatization: {{item.totalTermAfterLemmatization}},</p>
                      <p>Total Term After Removing StopWords: {{item.totalTermAfterRemovingStopWords}},</p>
                      <div v-if="item.isNER">
                        <p>Total Word: {{item.totalWord}},</p>
                        <p>Total Number: {{item.totalNumber}},</p>
                        <p>Total Ip: {{item.totalIp}},</p>
                        <p>Total Date: {{item.totalDat}},</p>
                        <p>Total Time: {{item.totalTime}},</p>
                        <p>Total Person: {{item.totalPerson}},</p>
                        <p>Total Location: {{item.totalLocation}},</p>
                        <p>Total Object: {{item.totalObject}}</p>
                      </div>
                      <p v-else style="color: #ee4266">NER is inactive</p>
                    </v-card-text>
                    <!-- <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="green darken-1" text @click="dialog = false">Disagree</v-btn>
                      <v-btn color="green darken-1" text @click="dialog = false">Agree</v-btn>
                    </v-card-actions> -->
                  </v-card>
                </v-dialog>
                <p class="body-2" style="color: gray" v-html="item.preview"></p>
                <p>Score: {{item.score}}</p>
              </v-card-text>
            </v-card>
          </v-row>
        </v-col>
        <v-col cols="4">
          Language Model ({{lmTime}})ms
          Total result: {{searchResultLM.length}}
          <div v-if="isPrecisionTest">
            Precision: {{precisionLM}}, Recall: {{recallLM}}, F1: {{f1LM}}
          </div>
          <v-row v-for="item in searchResultLM" :key="item.time">
            <v-card flat style="margin-left: 10px">
              <v-card-text class="text--primary">
                
                <v-dialog v-model="item.dialog" width="600px">
                  <template v-slot:activator="{ on }">
                    <div v-on="on" class="body-1" style="color: #1c1259">
                      Document: {{item.filename}}.{{item.extension}}
                    </div>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">Document: {{item.filename}}.{{item.extension}}</span>
                    </v-card-title>
                    <v-card-text>
                      <div v-html="item.content"></div>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-text>
                      <p>Total Term: {{item.totalTerm}},</p>
                      <p>Total Term After Lemmatization: {{item.totalTermAfterLemmatization}},</p>
                      <p>Total Term After Removing StopWords: {{item.totalTermAfterRemovingStopWords}},</p>
                      <div v-if="item.isNER">
                        <p>Total Word: {{item.totalWord}},</p>
                        <p>Total Number: {{item.totalNumber}},</p>
                        <p>Total Ip: {{item.totalIp}},</p>
                        <p>Total Date: {{item.totalDat}},</p>
                        <p>Total Time: {{item.totalTime}},</p>
                        <p>Total Person: {{item.totalPerson}},</p>
                        <p>Total Location: {{item.totalLocation}},</p>
                        <p>Total Object: {{item.totalObject}}</p>
                      </div>
                      <p v-else style="color: #ee4266">NER is inactive</p>
                    </v-card-text>
                    <!-- <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="green darken-1" text @click="dialog = false">Disagree</v-btn>
                      <v-btn color="green darken-1" text @click="dialog = false">Agree</v-btn>
                    </v-card-actions> -->
                  </v-card>
                </v-dialog>
                <p class="body-2" style="color: gray" v-html="item.preview"></p>
                <p>Score: {{item.score}}</p>
              </v-card-text>
            </v-card>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import ApiService from '../common/api.service';

export default {
  data: () => ({
    queryResult: null,
    searchLoading: false,
    searchInput: '',
    searchResult: null,
    searchResultCS: null,
    searchResultBM: null,
    searchResultLM: null,
    precisionCS: 0,
    precisionBM: 0,
    precisionLM: 0,
    recallCS: 0,
    f1CS: 0,
    f1BM: 0,
    f1LM: 0,
    isPrecisionTest: false,
    queryTime: null,
    isAndQuery: false,
    error: false,
    disableSearch: false,
    suggestion: null,
    dialog: false,
    csTime: null,
    bmTime: null,
    lmTime: null,
  }),
  props: [
    'newSearchQuery',
    'doReSearch'
  ],
  computed: {
    // switchLabel: function() {
    //   if(this.isAndQuery){
    //     return "Use Boolean Query";
    //   }
    //   return "Use Ranked Query";
    // }
    checkReSearch() {
      if(this.doReSearch){
        this.refreshSearchInput();
        this.search();
        this.$emit('hasSearched');
        return true;
      }
      return false;
    }
  },
  created() {
    this.queryResult = [1,18,27,54,57,66,134];
    this.goldenAnswer = [
      {
        query: 'beauties moon',
        answer: [1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 17, 19, 21, 22, 24, 27, 34, 35, 37, 41, 53, 54, 60, 62, 63, 65, 67, 68, 70, 77, 79, 83, 84, 93, 95, 101, 104, 105, 106, 107, 109, 115, 127, 131, 132, 134, 137]
      },
      {
        query: 'moon star sun',
        answer: [14, 15, 21, 24, 25, 26, 28, 33, 35, 49, 59, 73, 76, 107, 116, 130, 132, 148]
      },
      {
        query: 'happy cloud blood moon',
        answer: [ 2, 6, 16, 19, 21, 25, 28, 32, 33, 34, 35, 37, 43, 57, 63, 67, 82, 92, 109, 121, 128]
      },
      {
        query: 'beauty blood',
        answer: [1,2,4,5,6,7,9,10,11,12,13,14,17,19,21,22,24,37,41,53,54,60,62,63,65,67,68,69,70,77,79,82,83,93,95,101,104,106,109,115,121,127,131,132,134,137]
      },
      {
        query: 'time rime',
        answer: [1,3,5,6,11,12,15,16,17,18,19,22,30,32,37,38,39,44,47,49,52,55,57,58,60,63,64,65,70,73,76,77,82,97,100,106,107,108,109,115,116,117,120,123,124,126]
      }
    ];
  },
  methods: {
    refreshSearchInput(){
        this.searchInput = this.newSearchQuery;
    },
    search() {
      if(this.newSearchQuery != null){
        this.searchInput
      }
      this.isPrecisionTest = false;
      this.searchLoading = true;
      let params = {
        searchQuery: this.searchInput,
        // isAndQuery: this.isAndQuery
      };
      ApiService.get("check_index")
      .subscribe(result => {
        if(result.data){
          ApiService.get('search', "", params)
          .subscribe(result => {
            this.searchResult = result.data;
            this.searchResultCS = JSON.parse(this.searchResult.cosine_similarity.data);
            this.searchResultBM = JSON.parse(this.searchResult.bm25.data);
            this.searchResultLM = JSON.parse(this.searchResult.language_model.data);
            this.csTime = this.searchResult.cosine_similarity.time;
            this.bmTime = this.searchResult.bm25.time;
            this.lmTime = this.searchResult.language_model.time;
            this.queryTime = result.data.time;
            if(result.data.suggestion){
              this.suggestion = JSON.parse(result.data.suggestion);
            }
            for (let i = 0; i < this.goldenAnswer.length; i++) {
              const element = this.goldenAnswer[i];
              if(this.searchInput == element.query){
                this.calculatePrecisionRecall(element.answer);
                this.isPrecisionTest = true;
                this.searchLoading = false;
                break;
              }
            }
            this.$emit('search', this.searchInput);
            this.searchLoading = false;
          });
        }else{
          this.error = true;
          this.searchLoading = false;
          this.disableSearch = true;
        }
      });
    },
    calculatePrecisionRecall(answer) {
      let intersectionCS = this.searchResultCS.filter(value => answer.includes(value.id));
      this.precisionCS = intersectionCS.length / this.searchResultCS.length;
      this.recallCS = intersectionCS.length / answer.length;
      this.f1CS = (2*this.precisionCS*this.recallCS) / (this.precisionCS+this.recallCS);

      let intersectionBM = this.searchResultBM.filter(value => answer.includes(value.id));
      this.precisionBM = intersectionBM.length / this.searchResultBM.length;
      this.recallBM = intersectionBM.length / answer.length;
      this.f1BM = (2*this.precisionBM*this.recallBM) / (this.precisionBM+this.recallBM);

      let intersectionLM = this.searchResultLM.filter(value => answer.includes(value.id));
      this.precisionLM = intersectionLM.length / this.searchResultLM.length;
      this.recallLM = intersectionLM.length / answer.length;
      this.f1LM = (2*this.precisionLM*this.recallLM) / (this.precisionLM+this.recallLM);
    },
    getIndex() {
      ApiService.get("index")
      .subscribe(result => {
        this.index = result.data;
      });
    }
  }
};
</script>

<style>
.body-1:hover{
  cursor: pointer;
}

.query-term{
  font-weight: bold;
  background-color: #cacaea;
  color: #1c1259;
}
</style>