<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>{{ $router.currentRoute.name }}</span>
        <!-- <span class="font-weight-light">MATERIAL DESIGN</span> -->
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field style="margin-top: 15px; margin-right: 20px" v-if="isPresentingResult" prepend-icon="search" v-model="searchQuery"></v-text-field>
      <v-btn
        v-if="isPresentingResult"
        @click="reSearch()"
        color="primary"
      >
        <span class="mr-2">Search</span>
        <v-icon>search</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content>
      <v-container v-if="hasConfigSet == 'nani'">
        <v-row
          justify="center"
          align="center"
          v-bind:style="{ height: windowHeight-94 + 'px'}"
        >
          <v-progress-circular
            indeterminate
            size="80"
          ></v-progress-circular>
        </v-row>
      </v-container>
      <router-view
        v-else-if="hasConfigSet"
        :newSearchQuery="searchQuery"
        :doReSearch="doReSearch"
        @search="redirectToSearchResult()"
        @hasSearched="disableReSearch()"
      />
      <v-container v-else>
        <v-row>
          <v-col cols="2"></v-col>
          <v-col cols="8">
            <p class="display-1" style="text-align: center">Initial Settings</p>
            <p class="subheader" style="text-align: center">Config has to be set before using the search engine</p>
            <v-divider></v-divider>

            <v-row>
              <v-col cols="4">
                <p>Resource Path</p>
              </v-col>
              <v-col cols="8">
                <v-text-field
                  dense
                  v-model="resourcePath"
                  style="margin-top: 0px"
                  placeholder="Use default if empty"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="4">
                <p>Use NER?</p>
                <v-tooltip right>
                  <template v-slot:activator="{ on }">
                    <v-chip style="margin-left: 10px" v-on="on">?</v-chip>
                  </template>
                  <span>
                    NER stands for Named Entity Recogition. It refers to a data extraction task that is responsible for finding, storing and sorting textual content into default categories such as the names of persons, organizations, locations, expressions of times, quantities, monetary values and percentages. So it will take longer time to index, but produce more powerful results.
                  </span>
                </v-tooltip>
              </v-col>
              <v-col cols="8">
                <v-radio-group dense v-model="nerConfig" style="margin-top: 0px">
                  <v-radio label="Yes" :value="true"></v-radio>
                  <v-radio label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="4">
                <p>Use Index Compression?</p>
                <v-tooltip right>
                  <template v-slot:activator="{ on }">
                    <v-chip style="margin-left: 10px" v-on="on">?</v-chip>
                  </template>
                  <span>
                    Compressing index means indexing will take up less memory, but will take more time to run queries.
                  </span>
                </v-tooltip>
              </v-col>
              <v-col cols="8">
                <v-radio-group dense v-model="indexCompressionConfig" style="margin-top: 0px">
                  <v-radio label="Yes" :value="true"></v-radio>
                  <v-radio label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="4">
                <p>Use Posting Compression?</p>
                <v-tooltip right>
                  <template v-slot:activator="{ on }">
                    <v-chip style="margin-left: 10px" v-on="on">?</v-chip>
                  </template>
                  <span>
                    Compressing index means indexing will take up less memory, but will take more time to run queries.
                  </span>
                </v-tooltip>
              </v-col>
              <v-col cols="8">
                <v-radio-group dense v-model="postingCompressionConfig" style="margin-top: 0px">
                  <v-radio label="Yes" :value="true"></v-radio>
                  <v-radio label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="4">
                <p>Spimi Indexing Memory Limit</p>
              </v-col>
              <v-col cols="8">
                <v-text-field
                  dense
                  v-model="spimiMemoryLimit"
                  style="margin-top: 0px"
                  placeholder="Insert memory in MegaBytes"
                  suffix="MB"
                  type="number"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="4">
                <p>Show top rank amount:</p>
              </v-col>
              <v-col cols="8">
                <v-text-field
                  dense
                  v-model="topRank"
                  style="margin-top: 0px"
                  placeholder="0 (show all result)"
                  type="number"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="4">
                <p>Server Verbose</p>
              </v-col>
              <v-col cols="8">
                <v-radio-group dense v-model="verbose" style="margin-top: 0px">
                  <v-radio label="Yes" :value="true"></v-radio>
                  <v-radio label="No" :value="false"></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>

            <v-btn @click="save()" color="primary" block>
              Save Config
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import ApiService from './common/api.service';
// import rxjs from 'rxjs';

export default {
  name: 'App',
  data: () => ({
    //
    hasConfigSet: 'nani',
    resourcePath: null,
    nerConfig: false,
    indexCompressionConfig: false,
    postingCompressionConfig: false,
    errorResult: null,
    searchResult: null,
    spimiMemoryLimit: 500,
    verbose: true,
    isPresentingResult: false,
    searchQuery: '',
    doReSearch: null,
    topRank: null
  }),
  created() {
    this.windowHeight = window.innerHeight;
    ApiService.init();
    ApiService.get('config', "", {})
    .subscribe(
      result => {
        this.searchResult = result;
        // console.log(result.data);
        if(result.status == 403 || result.data == false){
          this.hasConfigSet = false;
          return;
        }
        if(result.data == true){
          this.hasConfigSet = true;
        }
        // console.log(result.data);
        // console.log(result.status);
      },
      error => {
        // console.log(error);
        this.errorResult = error.reponse;
        // console.log(this.errorResult.status);
        // console.log(this.errorResult.data);
        if(this.errorResult.status == 403 || this.errorResult.status >= 500){
          this.hasConfigSet = false;
        }
      }
    );
  },
  methods: {
    save() {
      if(this.topRank == null){
        this.topRank = 0;
      }
      // console.log(retry);
      ApiService.post('config', {
        path: this.resourcePath,
        ner: this.nerConfig,
        dictionary: this.indexCompressionConfig,
        posting: this.postingCompressionConfig,
        verbose: this.verbose,
        memory: this.spimiMemoryLimit,
        top_rank: this.topRank
      }).subscribe(
        result => {
          // TODO inspect result
          // console.log(result.data);
          if(result.data == true){
            this.hasConfigSet = true;
          }
        },
        error => {
          this.errorResult = error;
          this.hasConfigSet = false;
        }
      );
    },
    redirectToSearchResult(searchQuery) {
      this.isPresentingResult = true;
      this.searchQuery = searchQuery;
    },
    reSearch() {
      this.doReSearch = true;
    },
    disableReSearch() {
      this.doReSearch = false;
    }
  }
};
</script>

<style>
.v-input__slot{
  margin-bottom: -15px;
}
</style>